body
{
	background: #ecf0f1;
}
h2 
{
	color: black;
	text-align: center;
}
/* Sidebar */
.off-canvas.position-left 
{
	height: 100%;
	background:	#2c3e50;
}
.row.column 
{
	text-align: center;
	
}
/* Primary top bar */
.callout.primary
{
	background: #2c3e50; 
	border: 0px;
}
/* Navigation */
.topic 
{
	background-color: #34495e;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: 
}
.button 
{
	width: 150px;
	background-color: #34495e;
	color: black;
	margin: 0.5rem 0 0.5rem;
}
.button:hover 
{
	background-color: #34495e;
	color: black;
}
/* footer copyright */
.copyright 
{
	margin-left: 250px;
	text-align: center;
}
.copyright p 
{
	font-size: 12px;
}
/* Main content */
.off-canvas-content
{
	background-color: #95a5a6;
}
.medium-6.column 
{
	width: 50%;
}